* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: #555;
}
.main{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
}
.header{
    background: #E7CBA9;   
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3{
    width: 100%
}
.mini-main{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content:'';
    background: #9b0202;
    width:100px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color:#555;
    font-weight: normal;
}
.col-4:hover{
    transform: translateY(-15px);
}

.exclusive{
    background: radial-gradient(#fff,#cbcae7);   
    margin-top: 80px;
    padding: 15px 0;
}
.col-2 .exclusive-img{
    padding: 50px;
}
small{
    color:#555
}
.reviews{
    padding-top: 100px;
}
.reviews .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.reviews .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 30px;
    color: #ff523b;
}
.col-3 p{
    font-size: 14px;
    margin: 12px 0;
    color: #777;
}
.reviews .col-3 h3{
    font-weight: 600;
    color:#555;
    font-size: 16px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px ;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 40px;
}
.app-logo img{
    width:140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
#searchbar{
    float: left;
    padding: 10px 0px 0px 60px;
   
}

#searchbarbutton{
    width: 100px;
    height: 35px;
}

#inputsearchbar{
    width: 500px;
    height: 35px;
}
#button-holder img{
    margin:4px;
    width:20px; 
}

#button-holder{
background-color:#f1f1f1;
    border-style: thin-solid ;
    box-shadow:1px 1px 1px 1px;
    cursor:pointer;
    float:right;
    height:33px;
    margin:1px 0 0 0;
    text-align:center;
    width:50px;
}